<div  class="card" style="text-align: center;">
  Delete specific movie
    <div class="card-body">
        <div class="table-wrapper-2">
          Search for a movie by entering an ID
            <input type="text" class="form-control" [(ngModel)]="Search">
            <div *ngIf = "result" class="wrapper1">
                <ul>
                        <h4>Current Value</h4>
                        Title:  
                        {{result.title}}
                        <br>
                        Year:  
                        {{result.year}} 
                        <br>
                        Genre:
                        {{result.type}}    
                        <br>
                        <br>
                                                <br>
                        </ul> 
          </div>
        </div>
        <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan" (click)="Delete()" type="submit">Delete</button>
        </div>
    </div>
  </div>