<div *ngIf="auth.isAuthenticated()" class="card" style="text-align: center;">
  <div class="card-body">
      <div class="table-wrapper-2">
          <input type="text" class="form-control" [(ngModel)]="Search">
          <div *ngIf = "result.Search" class="wrapper1">
              <ul>
                  <li *ngFor="let item of result.Search | paginate: { itemsPerPage:1, currentPage: p }">
                      <img src="{{item.Poster}}"> <br>
                     Title: {{item.Title}} <br>
                     Year: {{item.Year}} <br>
                     IMDB ID: {{item.imdbID}} <br>
                      Type: {{item.Type}} <br>
                      </li> 
                      </ul> 
                <pagination-controls (pageChange)="p =$event"></pagination-controls>
                Showing maximum 10 results
                <div class="text-center py-4 mt-3">
                    <button class="btn btn-cyan" (click)="showMore()" type="submit">Submit</button>
                </div>
        </div>
      </div>
  </div>
</div>
<div *ngIf="!auth.isAuthenticated()">Please login to use this webpage</div>