<div *ngIf="auth.isAuthenticated()" class="container">
        <div class="row">
      
          <div class="col">
            <app-about-me></app-about-me>
          </div>
      
          <div class="col">
            <style>
              h2 {
                color: brown;
                text-align: center;
              }
      
              h5 {
                color: blue;
                text-align: center;
              }
            </style>
            <h1 style="text-align: center">Carl Vancluysen</h1>
            <h2>Gebruikte REST API</h2>       
            <h5><a href="http://www.omdbapi.com/">OMDB API</a></h5> 
            <br>
            <ol>
              <li>Search for Specific title</li>
              <li>Featured TV Show (Static)</li>
              <li>Search by IMDB ID</li>
              <li>Search by title w/ Pagination</li>
            </ol>
            <h2>Eigen REST API</h2>
            <ol>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
            </ol>
          </div>
        </div>
      </div>
      <div *ngIf="!auth.isAuthenticated()">
        <button id="qsLoginBtn"
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()" type="button">
          Log In
      </button>    </div>