<div *ngIf="auth.isAuthenticated()" class="container">
        <div class="row">
      
          <div class="col">
            <app-about-me></app-about-me>
          </div>
      
          <div class="col">
            <style>
              h2 {
                color: brown;
                text-align: center;
              }
      
              h5 {
                color: blue;
                text-align: center;
              }
            </style>
            <h2>Gebruikte REST API</h2>       
            <h5><a href="http://www.omdbapi.com/">OMDB API</a></h5> 
            <br>
            Functionaliteiten:
            <ol>
              <li>
                <h6>Search Filter/ via query string</h6>
              IMDB Pagina -> Zoeken op specifieke titel</li>
              <li><h6>Hypermedia? (Weinig info/API heeft geen hypermedia)</h6>
                IMDB Pagina -> Static link naar poster via een url. Featured TV show
              </li>
              <li><h6>Opvragen via ID / IMDB ID</h6>
                IMDB pagina -> Zoeken via IMDB ID
              </li>
              <li><h6>Opvragen via ID / IMDB ID</h6>
                IMDB Pagination -> Zoeken op specifieke title -> Array list van 10 objecten, Show More/Less knoppen gebruiken voor naar extra pagina te gaan
              </li>
            </ol>
            <h2>Eigen REST API</h2>
            Zelfde thema -> Films en Directors
            <br>
            Beide controllers voldoen aan:
            <ol>
                <li>Ophalen Resource Lijst</li>
                <li>Specifieke Titel/Director ophalen</li>
                <li>Resource toevoegen</li>
                <li>Resource verwijderen via ID</li>
                <li>Resource aanpassen via ID</li>
              </ol>
              Pagination en Sorting staan op het ophalen van een filmlijst via directorID (Gebruik 4 voor een grote lijst en pagination) <br>
              Data is beschikbaar via een DB Initializer, gebruikt gemaakt van MS SQL databank/EF Core. <br>
              Die data heeft movies gelinked met directorID. <br>
              Paginas zijn niet beschikbaar zonder gebruik te maken van Auth0 login. <br>
          </div>
        </div>
      </div>
      <div *ngIf="!auth.isAuthenticated()">
        <button id="qsLoginBtn"
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()" type="button">
          Log In
      </button>    </div>