<div  class="card" style="text-align: center;">
  Update a specific movie
    <div class="card-body">
        <div class="table-wrapper-2">
          Search for a movie by entering an ID
            <input type="text" class="form-control" [(ngModel)]="Search">
            <div *ngIf = "result" class="wrapper1">
                <ul>
                        <h4>Current Value</h4>
                        Title:  
                        {{result.title}}
                        <br>
                        Year:  
                        {{result.year}} 
                        <br>
                        Genre:
                        {{result.type}}    
                        <br>
                        <br>
                        Fill in the fields below, then submit by using the Update button
                        <br>
                        Title: <input type="text" [(ngModel)]="Title" name="fname"><br>
                        Year: <input type="text" [(ngModel)]="Year" name="lname"><br>
                        Genre: <input type="text" [(ngModel)]="Genre" name="lname"><br>
                        </ul> 
          </div>
        </div>
        <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan" (click)="Put()" type="submit">Update</button>
        </div>
    </div>
  </div>