<div *ngIf="auth.isAuthenticated()" class="container">
  <div class="row">
      <div class="col-sm-6">
          <app-restapi-director-search></app-restapi-director-search>
      </div>
      <div class="col-sm-6">
        <app-restapi-director-movie-by-id></app-restapi-director-movie-by-id>
    </div>
    <div class="col-sm-6">
        <app-restapi-director-post></app-restapi-director-post>
    </div>
    <div class="col-sm-6">
        <app-restapi-director-put></app-restapi-director-put>
    </div>
    <div class="col-sm-6">
        <app-restapi-director-del></app-restapi-director-del>
    </div>
</div>
</div>
<div *ngIf="!auth.isAuthenticated()">
    Please login to use this website
</div>