<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 ">
                <app-imdbsearch></app-imdbsearch>
            </div>
            <div class="col-sm-6 col-md-4">
                <app-imdbposter></app-imdbposter>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <app-imdbsearchbyid></app-imdbsearchbyid>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <app-imdbposter></app-imdbposter>
            </div>
        </div>
    </div>
    