<div *ngIf="auth.isAuthenticated()" class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-rest-apititle-search></app-rest-apititle-search>
        </div>
        <div class="col-sm-6">
            <app-rest-apipost></app-rest-apipost>
        </div>
        <div class="col-sm-6">
            <app-rest-apiput></app-rest-apiput>
        </div>
        <div class="col-sm-6">
            <app-restapidel></app-restapidel>
        </div>
    </div>
    
</div>
<div *ngIf="!auth.isAuthenticated()">Please login to use this API</div>
